fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic

redis
celery

pydantic
pydantic-settings

python-dotenv

sentence-transformers
faiss-cpu

google-api-python-client
google-auth-oauthlib
google-auth-httplib2

pymupdf

httpx

python-multipart

python-jose
passlib[bcrypt]
bcrypt==4.0.1
slowapi
email-validator
